<a href="https://colab.research.google.com/github/sanjufvr/sample_project/blob/main/preprocessing1234.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('/content/House_Pricing.csv')
df.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,NaN,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,NaN,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,NaN,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,NaN,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,NaN,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21613 non-null  int64
 1   Date House was Sold                        21613 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21613 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21604 non-null  float64
 6   Lot Area (in Sqft)                         21604 non-null  float64
 7   No of Floors                               21613 non-null  float64
 8   Waterfront View                            21613 non-null  object
 9   No of Times Visited                        2124 non-null   object
 10  Condition of the House                     21613 non-null  object
 11  Overall Grade                              21613 non-null  int64
 12  Area of the House from Basement (in Sqft)  21610 non-null  float64
 13  Basement Area (in Sqft)                    21613 non-null  int64
 14  Age of House (in Years)                    21613 non-null  int64
 15  Renovated Year                             21613 non-null  int64
 16  Zipcode                                    21612 non-null  float64
 17  Latitude                                   21612 non-null  float64
 18  Longitude                                  21612 non-null  float64
 19  Living Area after Renovation (in Sqft)     21612 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21613 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB

In [3]:
df.describe()

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
count,2.161300e+04,2.160900e+04,21613.000000,21609.000000,21604.000000,2.160400e+04,21613.000000,21613.000000,21610.000000,21613.000000,21613.000000,21613.000000,21612.000000,21612.000000,21612.000000,21612.000000,21613.000000
mean,4.580302e+09,5.401984e+05,3.370842,2.114732,2079.931772,1.510776e+04,1.494309,7.623467,1788.344193,291.509045,46.994864,84.402258,98077.937766,47.560048,-122.213892,1986.538914,12768.455652
std,2.876566e+09,3.673890e+05,0.930062,0.770138,918.487597,4.142827e+04,0.539989,1.105439,827.982604,442.575043,29.373411,401.679240,53.505425,0.138565,0.140830,685.404255,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000,290.000000,0.000000,3.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1429.250000,5.040000e+03,1.000000,7.000000,1190.000000,0.000000,21.000000,0.000000,98033.000000,47.470975,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.617500e+03,1.500000,7.000000,1560.000000,0.000000,43.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068825e+04,2.000000,8.000000,2210.000000,560.000000,67.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,10.000000,9410.000000,4820.000000,118.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [4]:
df.shape

(21613, 21)

In [5]:
# Check missing values
missing = df.isnull().sum()
missing = missing[missing > 0]  # Only columns with missing data
print("🔍 Missing values:\n", missing)

🔍 Missing values:
 Sale Price                                       4
No of Bathrooms                                  4
Flat Area (in Sqft)                              9
Lot Area (in Sqft)                               9
No of Times Visited                          19489
Area of the House from Basement (in Sqft)        3
Zipcode                                          1
Latitude                                         1
Longitude                                        1
Living Area after Renovation (in Sqft)           1
dtype: int64

In [6]:
# Fill numerical columns
df['Sale Price'] = df['Sale Price'].fillna(df['Sale Price'].mean())
df['No of Bathrooms'] = df['No of Bathrooms'].fillna(df['No of Bathrooms'].median())
df['Flat Area (in Sqft)'] = df['Flat Area (in Sqft)'].fillna(df['Flat Area (in Sqft)'].median())
df['Lot Area (in Sqft)'] = df['Lot Area (in Sqft)'].fillna(df['Lot Area (in Sqft)'].median())
df['Area of the House from Basement (in Sqft)'] = df['Area of the House from Basement (in Sqft)'].fillna(df['Area of the House from Basement (in Sqft)'].mean())
df['Latitude'] = df['Latitude'].fillna(df['Latitude'].mean())
df['Longitude'] = df['Longitude'].fillna(df['Longitude'].mean())
df['Living Area after Renovation (in Sqft)'] = df['Living Area after Renovation (in Sqft)'].fillna(df['Living Area after Renovation (in Sqft)'].mean())

# Fill categorical column with mode
df['Zipcode'] = df['Zipcode'].fillna(df['Zipcode'].mode()[0])

# Drop 'No of Times Visited' if it has too many missing values
# df = df.drop(columns=['No of Times Visited'])  # Or fill with mode if needed
print("✅ Remaining missing values:\n", df.isnull().sum().sum())

✅ Remaining missing values:
 19489

In [7]:
from sklearn.preprocessing import StandardScaler

# Exclude target column
num_cols = df.select_dtypes(include=['int64', 'float64']).columns.drop('Sale Price')

# Apply Standard Scaling
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

# Display the scaled columns
print(df[num_cols].head())

         ID  No of Bedrooms  No of Bathrooms  Flat Area (in Sqft)  \
0  0.886146       -0.398737        -1.447640            -0.979940
1  0.637511       -0.398737         0.175628             0.533757
2  0.365444       -1.473959        -1.447640            -1.426426
3 -0.727656        0.676485         1.149589            -0.130528
4 -0.912881       -0.398737        -0.149026            -0.435445

   Lot Area (in Sqft)  No of Floors  Overall Grade  \
0           -0.228268     -0.915427      -0.564013
1           -0.189832      0.936506      -0.564013
2           -0.123244     -0.915427      -1.468651
3           -0.243962     -0.915427      -0.564013
4           -0.169600     -0.915427       0.340626

   Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
0                                  -0.734799                -0.658681
1                                   0.460989                 0.245141
2                                  -1.230024                -0.658681
3                                  -0.891821                 1.397515
4                                  -0.130865                -0.658681

   Age of House (in Years)  Renovated Year   Zipcode  Latitude  Longitude  \
0                 0.544898       -0.210128  1.870188 -0.352541  -0.306117
1                 0.681079        4.746678  0.879593  1.161620  -0.746386
2                 1.293892       -0.210128 -0.933382  1.283590  -0.135691
3                 0.204446       -0.210128  1.085188 -0.283256  -1.271867
4                -0.544548       -0.210128 -0.073620  0.409591   1.199316

   Living Area after Renovation (in Sqft)  Lot Area after Renovation (in Sqft)
0                               -0.943339                            -0.260715
1                               -0.432668                            -0.187868
2                                1.070164                            -0.172375
3                               -0.914158                            -0.284522
4                               -0.272172                            -0.192849

cat_cols = df.select_dtypes(include='object').columns
print("Categorical columns:", cat_cols.tolist())

In [8]:

from sklearn.preprocessing import LabelEncoder

# Step 1: Identify categorical columns
cat_cols = df.select_dtypes(include='object').columns

# Step 2: Label Encoding for ordinal columns (if any)
ordinal_cols = []  # Add ordinal column names here
le = LabelEncoder()
for col in ordinal_cols:
    df[col] = le.fit_transform(df[col])

# Step 3: One-Hot Encoding for nominal columns
nominal_cols = [col for col in cat_cols if col not in ordinal_cols]
df = pd.get_dummies(df, columns=nominal_cols, drop_first=True)

# Step 4: Print result
print("✅ Encoded DataFrame shape:", df.shape)
print(df.head())

✅ Encoded DataFrame shape: (21613, 37)
         ID  Sale Price  No of Bedrooms  No of Bathrooms  Flat Area (in Sqft)  \
0  0.886146    221900.0       -0.398737        -1.447640            -0.979940
1  0.637511    538000.0       -0.398737         0.175628             0.533757
2  0.365444    180000.0       -1.473959        -1.447640            -1.426426
3 -0.727656    604000.0        0.676485         1.149589            -0.130528
4 -0.912881    510000.0       -0.398737        -0.149026            -0.435445

   Lot Area (in Sqft)  No of Floors  Overall Grade  \
0           -0.228268     -0.915427      -0.564013
1           -0.189832      0.936506      -0.564013
2           -0.123244     -0.915427      -1.468651
3           -0.243962     -0.915427      -0.564013
4           -0.169600     -0.915427       0.340626

   Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  ...  \
0                                  -0.734799                -0.658681  ...
1                                   0.460989                 0.245141  ...
2                                  -1.230024                -0.658681  ...
3                                  -0.891821                 1.397515  ...
4                                  -0.130865                -0.658681  ...

   Date House was Sold_15 March 2016  Date House was Sold_15 May 2016  \
0                              False                            False
1                              False                            False
2                              False                            False
3                              False                            False
4                              False                            False

   Waterfront View_Yes  No of Times Visited_Once  No of Times Visited_Thrice  \
0                False                     False                       False
1                False                     False                       False
2                False                     False                       False
3                False                     False                       False
4                False                     False                       False

   No of Times Visited_Twice  Condition of the House_Excellent  \
0                      False                             False
1                      False                             False
2                      False                             False
3                      False                              True
4                      False                             False

   Condition of the House_Fair  Condition of the House_Good  \
0                         True                        False
1                         True                        False
2                         True                        False
3                        False                        False
4                         True                        False

   Condition of the House_Okay
0                        False
1                        False
2                        False
3                        False
4                        False

[5 rows x 37 columns]

In [9]:
# Step 1: Identify numerical columns
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
print(num_cols)

Index(['ID', 'Sale Price', 'No of Bedrooms', 'No of Bathrooms',
       'Flat Area (in Sqft)', 'Lot Area (in Sqft)', 'No of Floors',
       'Overall Grade', 'Area of the House from Basement (in Sqft)',
       'Basement Area (in Sqft)', 'Age of House (in Years)', 'Renovated Year',
       'Zipcode', 'Latitude', 'Longitude',
       'Living Area after Renovation (in Sqft)',
       'Lot Area after Renovation (in Sqft)'],
      dtype='object')

In [10]:
# Step 2: Apply IQR method to remove outliers
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    df = df[(df[col] >= lower) & (df[col] <= upper)]

# Step 3: Print result
print(" Data shape after outlier removal:", df.shape)
print(df.head())

 Data shape after outlier removal: (14862, 37)
         ID  Sale Price  No of Bedrooms  No of Bathrooms  Flat Area (in Sqft)  \
0  0.886146    221900.0       -0.398737        -1.447640            -0.979940
2  0.365444    180000.0       -1.473959        -1.447640            -1.426426
3 -0.727656    604000.0        0.676485         1.149589            -0.130528
4 -0.912881    510000.0       -0.398737        -0.149026            -0.435445
6 -1.132940    257500.0       -0.398737         0.175628            -0.397330

   Lot Area (in Sqft)  No of Floors  Overall Grade  \
0           -0.228268     -0.915427      -0.564013
2           -0.123244     -0.915427      -1.468651
3           -0.243962     -0.915427      -0.564013
4           -0.169600     -0.915427       0.340626
6           -0.200045      0.936506      -0.564013

   Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  ...  \
0                                  -0.734799                -0.658681  ...
2                                  -1.230024                -0.658681  ...
3                                  -0.891821                 1.397515  ...
4                                  -0.130865                -0.658681  ...
6                                  -0.088590                -0.658681  ...

   Date House was Sold_15 March 2016  Date House was Sold_15 May 2016  \
0                              False                            False
2                              False                            False
3                              False                            False
4                              False                            False
6                              False                            False

   Waterfront View_Yes  No of Times Visited_Once  No of Times Visited_Thrice  \
0                False                     False                       False
2                False                     False                       False
3                False                     False                       False
4                False                     False                       False
6                False                     False                       False

   No of Times Visited_Twice  Condition of the House_Excellent  \
0                      False                             False
2                      False                             False
3                      False                              True
4                      False                             False
6                      False                             False

   Condition of the House_Fair  Condition of the House_Good  \
0                         True                        False
2                         True                        False
3                        False                        False
4                         True                        False
6                         True                        False

   Condition of the House_Okay
0                        False
2                        False
3                        False
4                        False
6                        False

[5 rows x 37 columns]

In [11]:
from sklearn.model_selection import train_test_split

# Step 1: Set features and target
X = df.drop('Sale Price', axis=1)
y = df['Sale Price']

# Step 2: Split the data
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Step 3: Print shapes
print("✅ Training set shape:", X_train.shape)
print("✅ Testing set shape:", X_test.shape)

✅ Training set shape: (11889, 36)
✅ Testing set shape: (2973, 36)